<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Quote requested: </h3>
    <p>
      Name: <%=@quote.name%><br>
      Email address: <%=@quote.email%><br>
      Phone number: <%= @quote.phone_number%><br>
      Problem: <%= @quote.problem %><br>

      <br>Please email customer with quote!
    </p>
  </body>
</html>
