<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Call us: 408-780-1515</p>
    <p>HashTagPhoneRepair Logo </p>
    <ul>
      <li>
        <a href="/iphone">IPHONE</a>
        <a href="">IPAD</a>
        <a href="">SAMSUNG</a>
        <a href="">OTHER</a>
    </ul>
  </body>
</html>
