<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p> HashTagPhoneRepair has received your quote request. Please check the email address you provided in the next few days for your quote.<p>
  </body>
</html>
