<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Schedule an appointment</h1>
    <form action = "/appointments" method="post">
      <input type= "hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>Name: <input type = "text" name="appointment[name]"></label><br>
      <label>Email: <input type= "email" name="appointment[email]"></label><br>
      <label>Phone Number: <input type= "tel" name="appointment[phone_number]"></label><br>
      <% if @phone_model.brand == "Other" %>
        <label>Phone Model: <input type = "text" name= "appointment[phone_model]" value= "<%=@phone_model.model%>"></label><br>
      <% else %>
          <label>Phone Model: <input type = "text" name= "appointment[phone_model]" value= "<%=@phone_model.brand%> <%=@phone_model.model%>"></label><br>
      <% end %>
      <label>Problem:
        <select name = "appointment[problem]">
          <option value="Digitizer replacement">Digitizer replacement</option>
          <option value="LCD replacement">LCD replacement</option>
          <option value="Battery replacement">Battery replacement</option>
          <option value="Front/back camera replacement">Front/back camera replacement</option>
          <option value="Power flex replacement">Power flex replacement</option>
          <option value="Home button flex replacement">Home button flex replacement</option>
          <option value="Ear speaker replacement">Ear speaker replacement</option>
          <option value="Loud speaker replacement">Loud speaker replacement</option>
          <option value="Charging port replacement">Charging port replacement</option>
          <option value="Headphone jack replacement">Headphone jack replacement</option>
          <option value="Sim tray replacement">Sim tray replacement</option>
          <option value="Proximity sensor">Proximity sensor</option>
          <option value="WiFi antenna repair">WiFi antenna repair</option>
          <option value="Cellular antenna repair">Cellular antenna repair</option>
          <option value="Water damage repair">Water damage repair</option>
          <option value="Housing conversion">Housing conversion</option>
          <option value="Vibrator repair">Vibrator repair</option>
          <option value="Water proof phone">Water proof phone</option>
        </select>
      </label><br>
      <label>Date: <input type="date" name="appointment[date]"></label><br>
      <label>Time:
        <select name="appointment[time]">
          <option value="10:00 AM">10:00 AM</option>
          <option value="10:30 AM">10:30 AM</option>
          <option value="11:00 AM">11:00 AM</option>
          <option value="11:30 AM">11:30 AM</option>
          <option value="12:00 PM">12:00 PM</option>
          <option value="12:30 PM">12:30 PM</option>
          <option value="1:00 PM">1:00 PM</option>
          <option value="1:30 PM">1:30 PM</option>
          <option value="2:00 PM">2:00 PM</option>
          <option value="2:30 PM">2:30 PM</option>
          <option value="3:00 PM">3:00 PM</option>
          <option value="3:30 PM">3:30 PM</option>
          <option value="4:00 PM">4:00 PM</option>
          <option value="4:30 PM">4:30 PM</option>
          <option value="5:00 PM">5:00 PM</option>
          <option value="5:30 PM">5:30 PM</option>
        </select>
      </label><br>
      <input type = "submit" value="Submit"><br>
    </form>
  </body>
</html>
